*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.header-app{
    text-align:center;
    font-size:2.5em;
    color: magenta;
    margin: 20px 20px;
}

.form-place{
    margin: 10% 10%;
    padding: 10% 10%;
    border: 3px grey solid;
}

.input-boxes{
    margin-top: 50px;
    width:50%;
}

.submit-btn{
   margin-left: 30px;
}